

@media screen and (max-width:1700px){}
@media screen and (max-width:1600px){}
@media screen and (max-width:1500px){}
@media screen and (max-width:1400px){
	.main-slider__asd {
	    padding: 20px 60px;
	}
	.main-slider__slide {
	    border-radius: 0;
	}
	.main-slider > .container {
		padding: 0;
	}
}
@media screen and (max-width:1300px){}
@media screen and (max-width:1250px){
	.main-slider__asd {
	    padding: 20px 40px;
	}
	.main-slider__title {
	    font-size: 50px;
	    margin: 0px 0px 48px 0px;
	}
}
@media screen and (max-width:1200px){
	.c-maxem__title {
	    font-size: 40px;
	    line-height: 57px;
	}
	.sidebar__line .sidebar__alist-label {
	    font-size: 12px;
	    padding: 5px 12px;
	}
	.rutube:after {
	    width: 44px;
	    height: 44px;
	    background-size: 44px;
	}
	.delivering__body {
	    margin: 0px -5px 24px -5px;
	}
	.delivering__writem {
	    padding: 0 5px;
	}
	.delivering__item {
	    padding: 56px 14px 24px 14px !important;
	}
	.types__vars-tlt {
	    font-size: 14px;
	}
	.types__vars-item {
	    padding: 24px;
	}
	.types__payment {
	    font-size: 14px;
	}
	.common-page {
	    padding: 56px 0 60px;
	}
	.header-searh__form-submit,
	.header-searh__form-inp[type="text"] {
		display: none;
	}
	.header-searh__form-trigger {
	    display: block;
	    position: relative;
	    top: 0;
	    left: auto;
	    right: 0;
	    width: 44px;
	    height: 44px;
	    background: none;
	    text-indent: 1000px;
	    overflow: hidden;
	    padding: 20px;
	    transform: none;
	    background-image: url(../images/icons/search.svg);
	    background-position: 50% 50%;
	    background-repeat: no-repeat;
	    background-size: 24px;
	    cursor: pointer;
	}
	.header-searh__form {
	    margin-right: 0;
	}
	.profile {
	    margin: 0px 0px 0px 16px;
	}
	.header__catalog {
	    padding: 0 20px 0 40px;
	}
	.common-page {
	    padding-top: 16px;
	}
	.common-page__h1 {
	    margin: 0px 0px 16px 0px;
	}
	.details__title {
	    font-size: 40px;
	}
	.details__aside {
	    width: 35%;
	}
	.details__cont {
	    width: 61.667%;
	}
	.details__links-tlt {
	    font-size: 16px;
	    line-height: 26px;
	}
	.details__links-img {
	    margin: 0px 0px 22px 0px;
	}
	.details__links-item {
	    padding: 25px;
	}
	.blog__inner {
		flex-direction: column;
		align-items: flex-start;
	}
	.blog__ahead {
		width: 100%;
		max-width: 800px;
		margin: 0px 0px 24px 0px;
	}
	.blog__ahead-btn {
		display: none;
	}
	.blog__ahead-tlt {
		margin: 0px 0px 0px 0px;
	}
	.blog__mobile-btn {
	    display: inline-block;
	    font-size: 13px;
        padding: 10px 16px;
		margin: 24px 0px 0px 0px;
	} 
	.page-screen__h1 {
	    font-size: 42px;
	    line-height: 50px;
	    margin: 0px 0px 12px 0px;
	}
	.page-screen__text {
	    font-size: 13px;
	    line-height: 24px;
	}
	.page-screen__writem {
    	padding: 72px 30px;
	    min-height: 416px;
	}
}

@media screen and (max-width:1150px){
	.faq__title,
	.types__title {
	    font-size: 40px;
	    line-height: 54px;
	}
	.faq__item-tlt {
		padding: 24px 70px 24px 24px;
	    font-size: 18px;
	}
	.faq__item-li {
	    font-size: 12px;
	    line-height: 20px;
	    margin: 0px 0px 12px 0px;
	}
	.faq__item-text {
	    font-size: 12px;
	    padding: 0 24px 24px;
	}
	.pros__title {
	    font-size: 17px;
	    margin: 0px 0px 8px 0px;
	}
	.pros__image {
	    margin: 0px 0px 16px 0px;
	}
	.pros__subtitle {
	    font-size: 12px;
	    line-height: 20px;
	}
	.faq__item-tlt::before, 
	.faq__item-tlt::after {
	    right: 27px;
	}
	.main-slider__title {
	    font-size: 42px;
	    line-height: 48px;
	    margin: 0px 0px 38px 0px;
	}
	.main-slider__cont {
	    min-height: 400px;
	    max-height: 400px;
	}
	.main-slider__asd {
	    padding: 20px;
	}
	.page-basket .bone__side-btn {
	    font-size: 12px;
	}
}

@media screen and (max-width:1100px){
	.footer-about {
	    width: 100%;
	    max-width: 100%;
	    margin-bottom: 30px;
	}
	.footer-about__mail {
	    font-size: 33px;
	}
	.footer-nav {
	    width: 70%;
	    max-width: 100%;
	}
	.footer-nav__top-ul {
	    justify-content: flex-start;
	}
	.footer-nav__top-link {
		margin: 0px 20px 0px 0px;
	}
	.footer-contact {
		margin-right: 25px;
	}
	.main-slider__aside {
	    width: 40%;
	}
	.main-slider__cont {
	    width: 60%;
	}
	.extra-catalog__product {
	    padding: 0 6px;
	}
	.extra-catalog {
	    margin: 0 -6px 26px;
	}
}

@media screen and (max-width:1050px){}

@media screen and (max-width:1000px){
	.c-maxem--tune {
	    padding: 25px 0px 64px;
	}
	.c-maxem__title:after {
	    top: -5px;
	    right: -5px;
	}
	.sidebar {
		display: none;
	}
	.catalog__content {
		width: 100%;
	}
	.catalog__inner {
	    padding: 32px 0 50px;
	}

	.bone__body {
		flex-direction: column;
	}
	.bone__content {
		width: 100%;
		margin: 0px 0px 40px 0px;
	}
	.page-basket .bone__content {
		margin: 0px 0px 16px 0px;
	}
	.bone__side {
		width: 100%;
	}
	.pros__inner {
		margin: 0 -8px;
	}
	.pros__writem {
	    padding: 0 8px;
	}
	.header__bottom {
	    padding: 10px 0;
	}
	.main-menu__link {
	    font-size: 13px;
	}
	.soc-menu__link {
	    font-size: 13px;
	}
	.main-menu__li {
	    margin: 0px 20px 0px 0px;
	}
	.soc-menu__li {
	    margin: 0px 0px 0px 20px;
	}
	.soc-menu__li:first-child {
	    margin: 0px 0px 0px 0px;
	}
	.bone__action {
	    width: 100%;
	    margin: 0px 0px 16px 0px;
	}
	.breadcrumbs--bone {
		display: none;
	}
	.bone--tune {
	    padding-bottom: 60px;
	}
	.lister__delete {
	    padding: 10px;
	    padding-right: 0;
	}
	.bone__control-item {
	    font-size: 12px;
	    line-height: 24px;
	    padding-left: 25px;
	}
	.bone__action-label {
	    font-size: 12px;
	    line-height: 24px;
	}
	.bone__side-frame {
	    padding: 22px 24px;
	}
	.bone__side-btn {
		font-size: 13px;
	}
	.bone__side-tlt {
	    font-size: 16px;
	    line-height: 25px;
	}
	.lister__text-tlt {
	    color: #333 !important;
	}
	.rutube {
		display: none;
	}

	.page-basket .bone__side-btn {
	    font-size: 13px;
	}
	.page-favorite .bone__side-frame {
		display: none;
	}

	.page-favorite .crearify {
	    display: block;
    	text-align: right;
	}
	.page-favorite .crearify__btn {
		display: inline-block;
		vertical-align: top;
	}
	.page-favorite .bone__content {
		margin-bottom: 24px;
	}
	.page-favorite .bone--tune {
		border-bottom: 1px solid #EBEBEB;
		margin-bottom: 64px;
		padding-bottom: 64px;
	}
	.orders__body {
	    margin: 0px 0px 40px 0px;
	}
	.page-order .additional--tune {
		padding-top: 8px;
	}
	.page-order .bone__side-frame {
		border: none;
		padding: 0;
	}
	.page-order .additional {
		display: none;
	}
	.page-order .bone__side-cancel {
		display: none;
	} 
	.page-order .bone__side-list {
	    padding: 0px; 
	    margin: 0px 0px 16px 0px;
	    border-bottom: none; 
	}
	.page-order .bone__side-finetolal {
	    font-size: 24px;
	}
	.page-order .bone__side-frame {
		padding-bottom: 44px;
		border-bottom: 1px solid #EBEBEB;
		margin-bottom: 40px;
	}
	.page-order .bone__side-tlt {
		display: none;
	}
	.page-order .bone__content {
		margin-bottom: 16px;
	}
	.page-order .additional--mobile {
	    display: block;
	}
	.additional__title {
	    line-height: 24px;
	} 
	.additional__btn {
		display: block;
		width: 100%;
		margin-top: 40px;
	}
	.page-order .bone__action-order {
	    justify-content: space-between;
	    width: 100%;
	}
	.p-product__content {
		flex-direction: column;
		margin: 0px 0px 64px 0px;
	}
	.p-product__pics {
		width: 100%;
		margin-bottom: 30px;
	}
	.p-product__desc {
		width: 100%;
	}
	.p-product__thumb {
	    margin: 0 -19px;
	    padding: 12px 15px;
	    background: #F2F2F2;
	}
	.p-product__pic {
		margin: 0;
	}
	.p-product__pic-slider {
	    margin: 0 -15px;
	}
	.p-product__h1 {
	    font-size: 24px;
	    line-height: 32px;
	}
	.p-product__events-item {
	    background: #fff;
	    border: 1px solid #EBEBEB;
	}
	.p-product__events {
	    margin: 0px -2px 17px -2px;
	}
	.p-product__feature {
	    margin: 0px 0px 16px 0px;
	}
	.p-product__prices-cheaper {
	    font-size: 12px;
	    line-height: 20px;
	}
	.p-product__action {
	    display: none;
	}
	.p-product__cust {
	    padding: 0px 0px 20px 0px;
	}
	.p-product__thumb-item {
	    min-height: 52px;
	    border: 2px solid transparent;
	}
	.p-product__thumb-img {
	    max-height: 52px;
	}
	.p-product__thumb-writem.slick-current .p-product__thumb-item {
		border: 2px solid #C8A06C;
	}
	.p-product__thumb-writem {
	    min-width: 80px;
	}

	.p-product__move {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.p-product__move-culc {
	    display: block;
	}
	.p-product__move-cut {
	}
	.p-product__move-culc .product__action-numeric {
		width: 100%;
	}
	.p-product__move-culc .product__action-minus, 
	.p-product__move-culc .product__action-plus {
	    width: 44px;
	    min-width: 44px;
	    height: 44px;
	}
	.p-product__move-culc .product__action-chislo, 
	.p-product__move-culc .product__action-chislo {
	    width: 24px;
	}

	.header__bottom {
		display: none;
	}
	.nav-mobile {
	    display: block;
	}
	.nav-mobile__body {
	    border-top: 1px solid #EBEBEB;
	}
	.nav-mobile .sidebar__content-li ul li a,
	.nav-mobile .sidebar__content-name {
	    font-size: 16px;
	    color: #333333 !important;
	}
	.sidebar__alot-label {
	    margin: 0px 5px 12px 0px;
	}
}

@media screen and (max-width:950px){
	.footer-bottom {
		align-items: flex-start;
		flex-direction: column;
	}
	.footer-bottom__data {
	    justify-content: flex-start;
	    align-items: flex-start;
	    flex-direction: column;
	}
	.footer-bottom__data-ofert {
		margin: 0px 0px 0px 0px;
	}
	.footer-bottom__copyright {
		margin: 0px 0px 15px 0px;
	}
	.footer-bottom__data-ident {
		margin: 0px 0px 15px 0px;
	}
	.c-maxem__title {
	    font-size: 34px;
	}


	.profile {
	    margin: 0px 0px 0px 4px;
	}
	.profile-log__name {
	    width: 32px;
	    height: 44px;
	}
	.profile-log__name span {
	    padding-left: 27px;
	    padding-right: 0;
	    text-indent: 100px;
	    overflow: hidden;
	    height: 100%;
	}
	.profile-log__name span:before {
	    background-size: 20px;
	    left: 7px;
	}

	.header__icon--basket:before,
	.header__icon--favorite:before {
		opacity: 1 !important;
	}
	.header__icon--basket:after,
	.header__icon--favorite:after {
		display: none;
	}
}

@media screen and (max-width:900px){
	.panel__head {
		flex-direction: column;
		align-items: flex-start;
	}
	.panel__title {
	    margin: 0px 0px 18px 0px;
	}
	.faq__inner,
	.types__inner {
		flex-direction: column;
	}
	.faq__ahead,
	.types__ahead {
		width: 100%;
		margin: 0px 0px 20px 0px;
	}
	.faq__content,
	.types__content {
		width: 100%;
	}

	.types__title,
	.faq__title {
	    margin: 0px 0px 16px 0px;
	}
	.pros__inner {
		flex-wrap: wrap;
		margin: 0 -16px;
	}
	.pros__writem {
		width: 50%;
		padding: 0 16px;
		margin-bottom: 24px;
	}
	.pros {
	    margin-bottom: 10px;
	}
	.faq--tune {
	    padding: 30px 0;
	}
	.faq__title, .types__title {
	    font-size: 34px;
	    line-height: 48px;
	}
	.details--tune {
	    margin: 0px 0px 40px 0px;
	    padding-top: 32px;
	}

	.blog__inner {
		display: block;
	}
	.blog__writem {
	    width: 306px;
	    min-width: 306px;
	}
	.blog__item {
	    height: 290px;
	    max-height: 290px;
	}
	.blog__txt-tlt {
		color: #333 !important;
	}
	.blog__wrcont {
	    overflow-x: auto;
	    -webkit-overflow-scrolling: touch;
	    margin-right: -30px;
	}
	.blog__wrcont::-webkit-scrollbar {
		display: none;
	}
	.blog__cont {
		width: initial;
	}
	.blog__ahead-tlt {
	    line-height: 32px;
	}
	.events__body {
	    margin: 0 -7px;
	}
	.events__writem {
	    padding: 7px;
	}
	.events__item-tlt {
	    left: 18px;
	    bottom: 18px;
	    font-size: 17px;
	}
	.extra-catalog__product {
	    width: 50%;
	    margin-bottom: 12px;
	}
	.reviews__body {
		flex-direction: column-reverse;
	}
	.reviews__content {
		width: 100%;
	}
	.reviews__sidebar {
		width: 100%;
		margin: 0px 0px 32px 0px;
	}
	.reviews__title {
	    margin: 0px 0px 20px 0px;
	}
	.reviews__numb {
	    line-height: 24px;
	}
	.reviews__btn {
	    width: initial;
	}
	.reviews__item {
	    padding: 24px;
	}
	.reviews__content-short {
	    width: 40px;
	    height: 40px;
	    min-width: 40px;
	    margin: 0px 8px 0px 0px;
	}
	.reviews__content-full {
	    font-size: 13px;
	    line-height: 20px;
	}
	.reviews__content-date {
	    font-size: 10px;
	    line-height: 16px;
	    margin: 0px 0px 7px 0px;
	}
	.reviews__content-data {
		flex-direction: column;
		align-items: flex-end;
	}
	.reviews__content-top {
	    padding-bottom: 20px;
	}
	.reviews__content-bottom {
	    padding-top: 16px;
	}
	.reviews__content-bottom p {
	    font-size: 12px;
	    line-height: 20px;
	    margin: 0px 0px 8px 0px;
	}
	.reviews__content-bottom p strong {
	    font-size: 13px;
	}
}

@media screen and (max-width:850px){
	.c-maxem__inner {
		flex-direction: column;
		align-items: flex-start;
	}
	.c-maxem__title {
	    width: 100%;
	}
	.c-maxem__desc {
		width: 100%;
	}
	.c-maxem__image {
		display: none;
	}
	.header__top {
		border-bottom: none;
	}
	.details__inner {
		flex-direction: column;
	}
	.details__aside {
	    width: 100%;
	    margin: 0px 0px 28px 0px;
	}
	.details__cont {
	    width: 100%;
	}
	body.search-active .search-mobile {
	    margin-bottom: 20px;
	}
	.nav-mobile {
		border-top: 1px solid rgb(51 51 51 / 10%);
		margin: 0 -15px;
	}
	.nav-mobile__inner {
		margin: 0 -15px;
	}
	.nav-mobile__body {
		padding: 0 15px;
	}

}

@media screen and (max-width:800px){
	.footer-top {
	    padding: 40px 0;
	}
	.footer-contact {
	    max-width: 100%;
	    width: 100%;
	    margin: 0px 0px 0px 0px;
	}
	.footer-nav {
		display: none;
	}
	.footer-contact {
		margin: 0px 0px 0px 0px;
	}
	.footer-about__txt {
		max-width: 100%;
	    margin: 0px 0px 22px 0px;
	}
	.footer-bottom {
	    padding: 16px 0;
	}
	.footer-contact__btn {
	    margin-top: 8px;
	}
	.footer-about__mail {
	    font-size: 24px;
	}
	.footer-about {
	    margin-bottom: 25px;
	}
	.delivering__body {
	    flex-wrap: wrap;
	}
	.delivering__writem {
	    padding: 5px;
    	width: 33.333%;
	}

	.header__wrplaces {
		display: none;
	}
}

@media screen and (max-width:750px){
	.main-slider__cont {
	    width: 100%;
	}
	.main-slider__aside {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 2;
	    width: 100%;
	    background: linear-gradient(180deg, rgba(200, 160, 108, 0) 0%, #C8A06C 100%);
	}
	.main-slider__control--txt .main-slider__arrows,
	.main-slider__arrows {
		display: none;
	}
	.main-slider__title {
		max-width: 100%;
	}
	.main-slider__asd {
		text-align: center;
	}
	.main-slider__control--txt {
	    align-items: center;
	    justify-content: center;
	}
	.main-slider__subtitle {
	    font-size: 12px;
	    line-height: 20px;
	    max-width: 300px;
        opacity: 1;
	}
	.main-slider__title {
	    font-size: 24px;
	    margin-bottom: 12px;
        opacity: 1;
	}
	.main-slider__cont {
		min-height: 240px;
		max-height: 240px;
	}
	.main-slider__btn {
	    margin: 0 auto;
	}
	.blog__txt-desc {
	    font-size: 12px;
	    line-height: 20px;
	}
	.blog__item {
	    padding: 16px;
	}
}

@media screen and (max-width:700px){
	.c-maxem__title {
		font-size: 24px;
		line-height: 32px;
		margin: 0px 0px 16px 0px;
	}
	.c-maxem__txt {
		font-size: 12px;
		line-height: 20px;
	}
	.c-maxem__txt {
		margin: 0px 0px 24px 0px;
	}
	.c-maxem__title--maxem:after {
	    top: -15px;
    }
	.btn {
	    font-size: 13px;
	    padding: 10px 16px;
	}
	.c-maxem__btn {
		margin: 0px 8px 0px 0px;
	}
	.c-maxem__download {
		display: none;
	}
	.c-maxem__download-mobile {
	    display: inline-block;
	    vertical-align: top;
	}
	.catalog__list-product {
	    width: 50%;
	}
	ul.control__view-ul {
		display: none;
	}
	ul.control__ul {
	    border: none;
	    margin: 0;
	    width: 100%;
	}
	.control__label-item:hover {
	    color: #333;
	    background: #fff;
	}
	.control__label-item {
	    font-size: 13px;
	    padding: 6px 12px;
        border: 1px solid rgb(51 51 51 / 10%);
	}
	.catalog-custom {
		display: none;
	}
	.control {
        justify-content: flex-start;
	    width: 110%;
	    overflow: auto;
	    margin: 0 -15px;
	    padding: 0 15px;
	}
	.control::-webkit-scrollbar {
		display: none;
	}
	.l-search__form-inp {
	    padding: 9px 50px 9px 16px !important;
	}
	.l-search__form-submit {
	    background-size: 20px;
	}
	.typelist {
		display: none;
	}


	.common-page {
	    padding: 48px 0 50px;
	}
	.pros {
		padding-top: 32px;
	}
	.pros__image {
	    width: 64px;
	    height: 64px;
	}
	.pros__title {
	    max-width: 155px;
	    line-height: 24px;
	}
	.pros__subtitle {
	    max-width: 155px;
	}
	.faq--tune,
	.types--tune {
	    padding: 40px 0 30px;
	}
	.faq__title, 
	.types__title {
	    font-size: 24px;
	    line-height: 32px;
        padding-right: 5px;
	}
	.faq__subtlt ul li {
	    font-size: 12px;
	    line-height: 20px;
	}
	.faq__subtlt ul li:before {
	    width: 4px;
	    min-width: 4px;
	    height: 4px;
	    top: 8px;
	}
	.faq__subtlt {
	    max-width: 100%;
	}
	.faq__subtlt ul li {
		width: 50%;
	    padding-left: 14px;
        margin-bottom: 8px;
        padding-right: 8px;
        white-space: nowrap;
	}
	.faq__subtlt ul {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		flex-wrap: wrap;
	}
	.faq__ahead, 
	.types__ahead {
	    margin: 0px 0px 16px 0px;
	}
	.types__subtlt {
	    max-width: 100%;
	}
	.types__vars-item {
	    padding: 23px 16px 16px;
	}
	.types__vars-tlt {
	    font-size: 12px;
	    line-height: 20px;
	    max-width: 123px;
	}
	.types__vars {
		margin: 0 -6px;
	}
	.types__vars-writem {
	    padding: 6px;
	}
	.types__vars-icon {
	    margin: 0px 0px 8px 0px;
	}
	.types__payment {
		display: none;
	}
	.faq__item-tlt {
	    font-size: 16px;
	    line-height: 24px;
	}
	.types__subtlt,
	.faq__subtlt {
	    font-size: 12px;
	    line-height: 20px;
	}
	.faq__item-text {
	    line-height: 20px;
	}
	.footer-about__logo {
	    margin: 0px 0px 24px 0px;
	}
	.footer-about {
	    margin-bottom: 20px;
	}
	.footer-contact__line {
	    margin: 0px 0px 16px 0px;
	}

	.logo__img {
	    width: 119px;
	}
	.burger {
	    margin: 0px 8px 0px 0px;
	}
	.logo {
	    margin: 0px 0px 0px 0px;
	}
	.header__top {
	    padding: 15px 0 13px;
	}
	.common-page {
	    padding-top: 16px;
	}

	.details__body {
	    padding: 0;
	    border: none;
	}
	.details__links-item {
	    padding: 16px;
	}
	.details__links-tlt {
	    font-size: 13px;
	    line-height: 20px;
	}
	.details__links-img {
	    margin: 0px 0px 15px 0px;
	}
	.details__links-item {
		height: 148px;
		display: flex;
		justify-content: space-between;
		flex-direction: column;
	}
	.details__links-tlt {
		color: #333333 !important;
	}
	.details__links {
	    margin: 0 -6px;
	}
	.details__links-writem {
	    padding: 0 6px;
	}
	.details--tune {
	    margin: 0px 0px 16px 0px;
	}
	.details__title {
	    font-size: 24px;
	    line-height: 32px;
	    margin: 0px 0px 16px 0px;
	}
	.details__subtlt {
	    font-size: 12px;
	    line-height: 20px;
	}
	.details__body-h3 {
	    font-size: 16px;
	    line-height: 24px;
	}
	.details__section-numb,
	.details__section-name {
	    font-size: 12px;
	    line-height: 20px;
	}
	.details__section-tlt {
	    font-size: 16px;
	    line-height: 24px;
	    margin: 0px 0px 24px 0px;
	}
	.details__section-line:last-child {
		margin: 0px 0px 0px 0px;
	}
	.details__section {
		margin: 0px 0px 24px 0px;
	}
	.details__body {
	    margin: 0px 0px 5px 0px;
	}
	.details__mobile {
	    display: inline-block;
	    vertical-align: top;
	    margin: 14px 0px 40px 0px;
	}
	.blog__date {
	    font-size: 10px;
	    line-height: 16px;
	}
	.blog__item {
	    height: 210px;
	    max-height: 210px;
	}
	.blog {
	    padding: 72px 0;
	}

	.page-screen__h1 {
	    font-size: 24px;
	    line-height: 36px;
	    margin: 0px 0px 12px 0px;
	}
	.page-screen__text {
	    font-size: 12px;
	    line-height: 20px;
	}
	.page-screen__writem {
	    padding: 66px 20px 122px;
	}

	.events__writem:nth-child(3), 
	.events__writem:nth-child(4), 
	.events__writem:nth-child(5), 
	.events__writem:nth-child(6) {
	    width: 50%;
	}
	.events__item {
	    padding-top: 100%;
	    background-size: cover !important;
	}
	.events__item::before {
	    opacity: 0.8 !important;
	}
	.events__item-tlt {
	    left: 24px;
	    bottom: 24px;
	    font-size: 16px;
	    line-height: 20px;
	}
	.events__item-amount {
	    top: 16px;
	    right: 16px;
	    font-size: 8px;
	    line-height: 14px;
	    padding: 2px 6px;
	}
	.events--tune {
	    margin-bottom: -40px;
	}
	.lister__check-image {
	    width: 107px;
	    height: 107px;
	    min-height: 107px;
	}
	.page-order .lister__check-image {
	    width: 80px;
	    height: 80px;
	    min-height: 80px;
	}
	.lister__check-img {
	    max-height: 107px;
	}
	.lister__check {
	    width: 107px;
	    min-width: 107px;
	    padding-left: 0;
	}
	.lister__check-label {
		position: relative !important;
	}
	.lister__check-label:before,
	.lister__check-label:after {
	    top: 4px !important;
	    left: 4px !important;
	    transform: translateY(0) !important;
	}
	.lister__cover .product__action-numeric {
		display: none;
	}
	.lister__contain {
	    width: 100%;
	}
	.lister__cover {
	    align-items: flex-end;
	    flex-direction: column-reverse;
	    width: 75px;
	    margin-left: 15px;
	}
	.page-order .lister__cover {
		padding-right: 0;
	}
	.page-order .lister__count {
		display: none;
	}
	.page-order .lister__line {
	    align-items: flex-end;
	}
	.lister__prices {
	    margin: 0;
	    text-align: right;
	}
	.page-order .lister__prices {
		padding-bottom: 5px;
	}
	.lister__delete {
	    margin-bottom: 12px;
	}
	.lister__prices-fine span {
	    font-size: 14px;
	    line-height: 20px;
	}
	.lister__prices-fine strong {
	    font-size: 14px;
	}
	.lister__prices-ams {
	    display: none;
	}
	.lister__prices-cross {
	    font-size: 10px;
	    line-height: 18px;
	}
	.lister__prices-ams--mobile {
	    display: inline-block;
	    vertical-align: top;
	    margin-left: 2px;
	} 
	.product__action-numeric--mobile {
	    display: flex;
	    margin-top: 18px;
	}
	.p-profile__wrap {
		flex-direction: column;
	}
	.p-profile__item {
	    width: 100%;
	    padding: 8px 8px;
	}
	.p-profile__wraper-title {
		display: none;
	}
	.p-profile__wraper {
	    margin: 0px 0px 0px 0px;
	}
	.p-profile__btn {
	    width: 100%;
	}
	.p-profile {
	    margin: 0px 0px 0px 0px;
	}
	.page-favorite .lister__prices {
		display: none;
	}
	.page-favorite .lister-buy {
		margin: 0;
		padding-right: 0;
	}
	.page-favorite .lister__do {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		flex-direction: column-reverse;
	}

	.page-favorite .lister__prices--mobile {
	    display: block;
	    text-align: left;
	    margin-top: 7px;
	}
	.lister__text-tlt {
	    font-size: 18px;
	}

	.orders__line {
	    padding: 16px 0;
	    align-items: flex-start;
	}
	.orders__line-round {
	    width: 44px;
	    height: 44px;
	    font-size: 13px;
	    margin: 0px 8px 0px 0px;
	}
	.orders__line-subtlt {
	    margin: 0px 0px 2px 0px;
	}
	.orders__line-tlt {
	    font-size: 14px;
	}
	.orders__line-label {
	    padding: 0px 6px;
	    font-size: 8px;
	    line-height: 18px;
	}
	.page-order .lister__count--mobile {
	    display: block;
	    font-weight: 500;
		font-size: 12px;
		line-height: 20px;
		color: #333333;
		margin-top: 7px;
	}
	.p-product__pic-label {
	    padding: 2px 6px;
	    font-size: 8px;
	    line-height: 14px;
	}
	.p-product__pic-image--video:before, 
	.p-product__pic-image--video:after {
	    background-size: 11px;
	}
	.p-product__favorite {
	    width: 44px;
	    min-width: 44px;
	    height: 44px;
	}
	.p-product__basket {
	    margin: 0px 8px 0px 0px;
	}
	.basket-mobile {
		display: block;
	}

}

@media screen and (max-width:600px){
	.listner__tab-item {
	    width: 100%;
	}
	.listner__tab-item:nth-child(2) {
	    width: 100%;
	}
	.listner__tab-item:nth-child(3) {
	    width: 100%;
	}
	.listner__tab-item {
	    padding: 8px 0px;
	}
	.listner__tab {
		margin: 0;
	}
	.customer__type-selections {
	    border: none;
	    width: 100%;
	}
	.customer__type-select {
	    border: 1px solid rgb(51 51 51 / 10%);
	    margin: 0px 8px 0px 0px;
	    white-space: nowrap;
	}
	.customer__type-select:last-child {
	    margin: 0;
	    padding: 5px 20px;
	}
	.customer__type-select {
	    font-size: 13px;
	    padding: 5px 26px;
	    margin: 0px 8px 0px 0px;
	}
	.bone__side-tlt {
		display: none;
	}
	.bone__side-list {
	    padding: 0px 0px 0px 0px;
	    margin: 0px 0px 16px 0px;
	    border-bottom: none;
	    order: 1;
	}
	.bone__side-fine {
		order: 2;
	}
	.bone__side-finetolal {
	    font-size: 24px;
	}
	.bone__side-border {
	    border-bottom: none;
	    padding-bottom: 0;
	    margin-bottom: 0;
	    margin-top: 40px;
	    order: 3;
	}
	.bone__side-frame {
		display: flex;
		justify-content: space-between;
		flex-direction: column;
    	border: none;
    	padding: 0;
	}
	.ordering__line {
	    padding: 34px 0 6px;
	    border-bottom: none;
	}
	.delivering__text, 
	.delivering__text p {
	    display: none;
	}
	.more-info__title {
		display: none;
	}
	.delivering__body {
		margin: 0px 0px 0px 0px;
	}
	.more-info__textarea {
	    height: 96px;
	}
	.bone__content {
	    margin: 0px 0px 30px 0px;
	}
	.bone--tune {
	    padding-bottom: 24px;
	}
	.extra-catalog {
		margin: 0 0 20px;
	}
	.catalog__list-product,
	.extra-catalog__product {
	    padding: 0;
        margin-bottom: 0px;
	}
	.product__inn {
	    border: none;
	    border-bottom: 1px solid rgb(51 51 51 / 10%);
	    border-radius: 0;
        padding: 30px 16px 40px 16px;
	}
	.product:nth-child(odd) .product__inn {
		border-right: 1px solid rgb(51 51 51 / 10%);
	}
	.catalog__list:after {
		content: '';
		display: inline-block;
		vertical-align: middle;
		width: 100%;
		height: 1px;
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 3;
		background-color: #fff;
	}

	.page-basket .bone__side-border {
        padding-bottom: 16px;
    	margin-bottom: 16px;
    	margin-top: 0;
	    border-bottom: 1px solid #EBEBEB;
	    order: 1;
	}
	.page-basket .bone__side-frame {
		padding: 24px;
	    border: 1px solid rgb(51 51 51 / 10%);
	}
	.page-basket  .bone__side-list {
	    padding: 0px 0px 16px 0px;
	    border-bottom: 1px solid rgb(51 51 51 / 10%);
	}
	.page-favorite .bone__add {
		display: none;
	}
	.page-order .bone__side-cancel {
	    order: 3;
	}
	.product__high-name {
	    font-size: 8px;
	    line-height: 12px;
	    max-width: 115px;
	}
	.product__lebels-item {
	    font-size: 8px;
	    line-height: 14px;
	    padding: 2px 6px;
	}
	.product__img {
	    max-height: 155px;
	}
	.product__wrimage {
	    min-height: 155px;
	    margin: 0px 0 8px;
	}
	.product__vendor {
	    font-size: 8px;
	    line-height: 18px;
	}
	.product__label {
	    font-size: 8px;
	    line-height: 14px;
	    padding: 2px 6px;
	}
	.product__title {
	    font-size: 18px;
	    line-height: 24px;
	    height: 24px;
	    max-height: 24px;
	}
	.product__rating {
	    line-height: 12px;
	}
	.product__store {
	    line-height: 12px;
	    display: none;
	}
	.product__feature-name {
	    font-size: 10px;
	    line-height: 16px;
	}
	.product__feature-numb {
	    font-size: 12px;
	    line-height: 16px;
	}
	.product__feature-line {
	    margin-bottom: 2px;
	}
	.product__feature-line:last-child {
	    margin-bottom: 0;
	}
	.product__feature {
	    margin-bottom: 9px;
	}
	.product__price-cross {
	    font-size: 10px;
	    line-height: 18px;
	}
	.product__price-main {
	    font-size: 14px;
	    line-height: 20px;
	}
	.product__price-main span {
	    font-size: 8px;
	    line-height: 17px;
	}
	.product__price {
	    margin: 0px 0px 11px 0px;
	}
	.product__feature-line:after {
		display: none;
	}
	.catalog__list--main {
		margin-bottom: 30px;
	}
	.catalog__breadcrumbs-link {
	    width: 44px;
	    height: 44px;
	    font-size: 13px;
	    line-height: 24px;
	}
	.catalog__breadcrumbs--arrow .catalog__breadcrumbs-link:before, 
	.catalog__breadcrumbs--arrow .catalog__breadcrumbs-link:after {
	    background-size: 12px;
	}
	body.page-main .catalog__inn {
		padding-bottom: 30px;
		border-bottom: 1px solid #EBEBEB;
	}
	.panel__title {
	    margin: 0px 0px 14px 0px;
	}
	.panel--tune {
		padding-bottom: 20px;
	    border-bottom: 1px solid rgb(51 51 51 / 10%);
	}
	.l-search {
	    margin: 20px 0px 0px 0px;
	}
	.catalog__inner {
	    padding-top: 20px;
	}

}

@media screen and (max-width:500px){
	.delivering__body {
		flex-direction: column;
	}
	.delivering__writem {
		width: 100%;
	}
	.faq__item-tlt {
		padding-right: 57px;
	}
	input[type="text"], 
	input[type="number"], 
	input[type="tel"], 
	input[type="password"], 
	input[type="email"], 
	textarea {
	    padding: 9px 16px;
	}
	.delivering__writem input + .delivering__item:before {
		top: 22px;
	}

	.delivering__item-name {
	    max-width: 100%;
	    line-height: 28px;
	    display: flex;
	    justify-content: space-between;
	    align-items: center;
		padding-left: 32px;
	}
	.delivering__item {
	    padding: 18px 24px 18px 16px !important;
	}
	.delivering__item-mobile {
	    display: none;
	    margin-top: 8px;
	    padding-left: 32px;
	}
	.delivering__writem input + .delivering__item:before,
	.delivering__writem input:checked + .delivering__item:after {
	    left: 16px;
	}
	.delivering__item {
	    min-height: 68px;
    }
    .delivering__writem input:checked + .delivering__item .delivering__item-mobile {
    	display: block;
    }
}


@media screen and (max-width:440px){
	.faq__subtlt ul li {
		width: initial;
	}
	.faq__subtlt ul li:nth-child(2),
	.faq__subtlt ul li:nth-child(4) {
		padding-right: 0;
	}
	.header__side-right {
	    margin-left: 0;
	}
	.header__icon {
	    margin: 0px 0px 0px 4px;
	}
}

@media screen and (max-width:400px){
	.footer-about__logo-img {
	    width: 120px;
	}
	.p-product__pic-image {
		padding-top: 240px;
	}
}

@media screen and (max-width:370px){
	.pros__inner {
		margin: 0 -8px;
	}
	.pros__writem {
	    padding: 0 8px;
	}
	.burger {
	    width: 30px;
	    padding: 10px 10px 10px 0px;
	}
	.header__icon,
	.header-searh__form-trigger {
	    width: 30px;
	}
	.header-searh__form-trigger {
	    padding: 20px 10px;
	}
	.customer__type-select {
	    padding: 5px 10px;
	}
	.customer__type-select:last-child {
	    padding: 5px 13px;
	}
	.delivering__item-name {
	    line-height: 19px;
	}
	.delivering__item-name strong {
	    padding-left: 15px;
	}
	.delivering__item {
	    padding: 15px 12px 15px 8px !important;
	}
	.delivering__writem input + .delivering__item:before, 
	.delivering__writem input:checked + .delivering__item:after {
	    left: 7px;
	}
	.basket-mobile__summ-btn {
	    font-size: 10px;
	    padding: 8px 10px;
	}
	.p-product__basket {
	    font-size: 0;
	    padding: 10px 4px 10px 15px;
	}
	.nav-mobile .sidebar__content-li ul li a, 
	.nav-mobile .sidebar__content-name {
	    font-size: 13px;
	}
}

@media screen and (max-width:360px){
}