

@media screen and (max-width:1700px){}
@media screen and (max-width:1600px){}
@media screen and (max-width:1500px){}
@media screen and (max-width:1400px){
	.main-slider__asd {
	    padding: 20px 60px;
	}
}
@media screen and (max-width:1300px){}
@media screen and (max-width:1250px){
	.main-slider__asd {
	    padding: 20px 40px;
	}
	.main-slider__title {
	    font-size: 50px;
	    margin: 0px 0px 48px 0px;
	}
}
@media screen and (max-width:1200px){
	.c-maxem__title {
	    font-size: 40px;
	    line-height: 57px;
	}
	.sidebar__line .sidebar__alist-label {
	    font-size: 12px;
	    padding: 5px 12px;
	}
	.rutube:after {
	    width: 44px;
	    height: 44px;
	    background-size: 44px;
	}
	.delivering__body {
	    margin: 0px -5px 24px -5px;
	}
	.delivering__writem {
	    padding: 0 5px;
	}
	.delivering__item {
	    padding: 56px 14px 24px 14px !important;
	}
	.types__vars-tlt {
	    font-size: 14px;
	}
	.types__vars-item {
	    padding: 24px;
	}
	.types__payment {
	    font-size: 14px;
	}
	.common-page {
	    padding: 56px 0 60px;
	}
}

@media screen and (max-width:1150px){
	.faq__title,
	.types__title {
	    font-size: 40px;
	    line-height: 54px;
	}
	.faq__item-tlt {
		padding: 24px 70px 24px 24px;
	    font-size: 18px;
	}
	.faq__item-li {
	    font-size: 12px;
	    line-height: 20px;
	    margin: 0px 0px 12px 0px;
	}
	.faq__item-text {
	    font-size: 12px;
	    padding: 0 24px 24px;
	}
	.pros__title {
	    font-size: 17px;
	    margin: 0px 0px 8px 0px;
	}
	.pros__image {
	    margin: 0px 0px 16px 0px;
	}
	.pros__subtitle {
	    font-size: 12px;
	    line-height: 20px;
	}
	.faq__item-tlt::before, 
	.faq__item-tlt::after {
	    right: 27px;
	}
}

@media screen and (max-width:1100px){
	.footer-about {
	    width: 100%;
	    max-width: 100%;
	    margin-bottom: 30px;
	}
	.footer-about__mail {
	    font-size: 33px;
	}
	.footer-nav {
	    width: 70%;
	    max-width: 100%;
	}
	.footer-nav__top-ul {
	    justify-content: flex-start;
	}
	.footer-nav__top-link {
		margin: 0px 20px 0px 0px;
	}
	.footer-contact {
		margin-right: 25px;
	}
}

@media screen and (max-width:1050px){}

@media screen and (max-width:1000px){
	.c-maxem--tune {
	    padding: 25px 0px 64px;
	}
	.c-maxem__title:after {
	    top: -5px;
	    right: -5px;
	}
	.sidebar {
		display: none;
	}
	.catalog__content {
		width: 100%;
	}
	.catalog__inner {
	    padding: 32px 0 50px;
	}

	.bone__body {
		flex-direction: column;
	}
	.bone__content {
		width: 100%;
		margin: 0px 0px 40px 0px;
	}
	.bone__side {
		width: 100%;
	}
	.pros__inner {
		margin: 0 -8px;
	}
	.pros__writem {
	    padding: 0 8px;
	}
}

@media screen and (max-width:950px){
	.footer-bottom {
		align-items: flex-start;
		flex-direction: column;
	}
	.footer-bottom__data {
	    justify-content: flex-start;
	    align-items: flex-start;
	    flex-direction: column;
	}
	.footer-bottom__data-ofert {
		margin: 0px 0px 0px 0px;
	}
	.footer-bottom__copyright {
		margin: 0px 0px 15px 0px;
	}
	.footer-bottom__data-ident {
		margin: 0px 0px 15px 0px;
	}
	.c-maxem__title {
	    font-size: 34px;
	}

}

@media screen and (max-width:900px){
	.panel__head {
		flex-direction: column;
		align-items: flex-start;
	}
	.panel__title {
	    margin: 0px 0px 18px 0px;
	}
	.faq__inner,
	.types__inner {
		flex-direction: column;
	}
	.faq__ahead,
	.types__ahead {
		width: 100%;
		margin: 0px 0px 20px 0px;
	}
	.faq__content,
	.types__content {
		width: 100%;
	}

	.types__title,
	.faq__title {
	    margin: 0px 0px 16px 0px;
	}
	.pros__inner {
		flex-wrap: wrap;
		margin: 0 -16px;
	}
	.pros__writem {
		width: 50%;
		padding: 0 16px;
		margin-bottom: 24px;
	}
	.pros {
	    margin-bottom: 10px;
	}
	.faq--tune {
	    padding: 30px 0;
	}
	.faq__title, .types__title {
	    font-size: 34px;
	    line-height: 48px;
	}
}

@media screen and (max-width:850px){
	.c-maxem__inner {
		flex-direction: column;
		align-items: flex-start;
	}
	.c-maxem__title {
	    width: 100%;
	}
	.c-maxem__desc {
		width: 100%;
	}
	.c-maxem__image {
		display: none;
	}
}

@media screen and (max-width:800px){
	.footer-top {
	    padding: 40px 0;
	}
	.footer-contact {
	    max-width: 100%;
	    width: 100%;
	    margin: 0px 0px 0px 0px;
	}
	.footer-nav {
		display: none;
	}
	.footer-contact {
		margin: 0px 0px 0px 0px;
	}
	.footer-about__txt {
		max-width: 100%;
	    margin: 0px 0px 22px 0px;
	}
	.footer-bottom {
	    padding: 16px 0;
	}
	.footer-contact__btn {
	    margin-top: 8px;
	}
	.footer-about__mail {
	    font-size: 24px;
	}
	.footer-about {
	    margin-bottom: 25px;
	}
	.delivering__body {
	    flex-wrap: wrap;
	}
	.delivering__writem {
	    padding: 5px;
    	width: 33.333%;
	}
}

@media screen and (max-width:750px){}

@media screen and (max-width:700px){
	.c-maxem__title {
		font-size: 24px;
		line-height: 32px;
		margin: 0px 0px 16px 0px;
	}
	.c-maxem__txt {
		font-size: 12px;
		line-height: 20px;
	}
	.c-maxem__txt {
		margin: 0px 0px 24px 0px;
	}
	.c-maxem__title--maxem:after {
	    top: -15px;
    }
	.btn {
	    font-size: 13px;
	    padding: 10px 16px;
	}
	.c-maxem__btn {
		margin: 0px 8px 0px 0px;
	}
	.c-maxem__download {
		display: none;
	}
	.c-maxem__download-mobile {
	    display: inline-block;
	    vertical-align: top;
	}
	.catalog__list-product {
	    width: 50%;
	}
	ul.control__view-ul {
		display: none;
	}
	ul.control__ul {
	    border: none;
	    margin: 0;
	    width: 100%;
	}
	.control__label-item:hover {
	    color: #333;
	    background: #fff;
	}
	.control__label-item {
	    font-size: 13px;
	    padding: 6px 12px;
        border: 1px solid rgb(51 51 51 / 10%);
	}
	.catalog-custom {
		display: none;
	}
	.control {
	    justify-content: flex-start;
	    width: 100%;
	    overflow: auto;
	}
	.l-search__form-inp {
	    padding: 9px 50px 9px 16px !important;
	}
	.l-search__form-submit {
	    background-size: 20px;
	}
	.typelist {
		display: none;
	}


	.common-page {
	    padding: 48px 0 50px;
	}
	.pros__image {
	    width: 64px;
	    height: 64px;
	}
	.pros__title {
	    max-width: 155px;
	    line-height: 24px;
	}
	.pros__subtitle {
	    max-width: 155px;
	}
	.faq--tune,
	.types--tune {
	    padding: 40px 0 30px;
	}
	.faq__title, 
	.types__title {
	    font-size: 24px;
	    line-height: 32px;
        padding-right: 5px;
	}
	.faq__subtlt ul li {
	    font-size: 12px;
	    line-height: 20px;
	}
	.faq__subtlt ul li:before {
	    width: 4px;
	    min-width: 4px;
	    height: 4px;
	    top: 8px;
	}
	.faq__subtlt {
	    max-width: 100%;
	}
	.faq__subtlt ul li {
		width: 50%;
	    padding-left: 14px;
        margin-bottom: 8px;
        padding-right: 8px;
        white-space: nowrap;
	}
	.faq__subtlt ul {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		flex-wrap: wrap;
	}
	.faq__ahead, 
	.types__ahead {
	    margin: 0px 0px 16px 0px;
	}
	.types__subtlt {
	    max-width: 100%;
	}
	.types__vars-item {
	    padding: 23px 16px 16px;
	}
	.types__vars-tlt {
	    font-size: 12px;
	    line-height: 20px;
	    max-width: 123px;
	}
	.types__vars {
		margin: 0 -6px;
	}
	.types__vars-writem {
	    padding: 6px;
	}
	.types__vars-icon {
	    margin: 0px 0px 8px 0px;
	}
	.types__payment {
		display: none;
	}
	.faq__item-tlt {
	    font-size: 16px;
	    line-height: 24px;
	}
	.types__subtlt,
	.faq__subtlt {
	    font-size: 12px;
	    line-height: 20px;
	}
	.faq__item-text {
	    line-height: 20px;
	}
	.footer-about__logo {
	    margin: 0px 0px 24px 0px;
	}
	.footer-about {
	    margin-bottom: 20px;
	}
	.footer-contact__line {
	    margin: 0px 0px 16px 0px;
	}
}

@media screen and (max-width:600px){
	.listner__tab-item {
	    width: 100%;
	}
	.listner__tab-item:nth-child(2) {
	    width: 100%;
	}
	.listner__tab-item:nth-child(3) {
	    width: 100%;
	}
	.listner__tab-item {
	    padding: 8px 0px;
	}
	.listner__tab {
		margin: 0;
	}
	.customer__type-selections {
	    border: none;
	    width: 100%;
	}
	.customer__type-select {
	    border: 1px solid rgb(51 51 51 / 10%);
	    margin: 0px 8px 0px 0px;
	    white-space: nowrap;
	}
	.customer__type-select:last-child {
		margin: 0;
	}
	.customer__type-select {
	    font-size: 13px;
	    padding: 5px 26px;
	    margin: 0px 8px 0px 0px;
	}
	.bone__side-tlt {
		display: none;
	}
	.bone__side-list {
	    padding: 0px 0px 0px 0px;
	    margin: 0px 0px 16px 0px;
	    border-bottom: none;
	    order: 1;
	}
	.bone__side-fine {
		order: 2;
	}
	.bone__side-finetolal {
	    font-size: 24px;
	}
	.bone__side-border {
	    border-bottom: none;
	    padding-bottom: 0;
	    margin-bottom: 0;
	    margin-top: 40px;
	    order: 3;
	}
	.bone__side-frame {
		display: flex;
		justify-content: space-between;
		flex-direction: column;
    	border: none;
    	padding: 0;
	}

}

@media screen and (max-width:500px){
	.delivering__body {
		flex-direction: column;
	}
	.delivering__writem {
		width: 100%;
	}
}


@media screen and (max-width:440px){
	.faq__subtlt ul li {
		width: initial;
	}
	.faq__subtlt ul li:nth-child(2),
	.faq__subtlt ul li:nth-child(4) {
		padding-right: 0;
	}
}

@media screen and (max-width:400px){
	.footer-about__logo-img {
	    width: 120px;
	}
}

@media screen and (max-width:370px){
	.pros__inner {
		margin: 0 -8px;
	}
	.pros__writem {
	    padding: 0 8px;
	}
}